/* Globalne */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: black;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Nav+Footer */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: #2196f3;
}
.header {
    width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.studio-black {
    color: #000000;
}
.studio-white {
    color: #ffffff;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #212121;
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #2196f3;
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #757575;
    text-decoration: none;
}
.contact:hover {
    color: #2196f3;
}

.footer-wrapper {
    background-color: #2f303a;
    color: #ffffff;
}

.footer-wrapper address {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #ffffff;
}

.address a {
    color: #ffffff60;
}
.address a:hover,
.address a:focus {
    color: #2196f3;
}
.footer-tel {
    text-decoration: none;
}
/* Main Portfolio */

.category-buttons li button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
}

.category-buttons button:hover,
.category-buttons button:focus {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.portfolio-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.portfolio-category {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-align: left;
}

/* main-index*/

.heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.service-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    outline: none;
    border: none;
    border-radius: 4px;
}

.service-button:hover .service-button:focus {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.text-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
}

.text-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list-member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #757575;
}
